body {
    background-color: beige;
    background-image: url("mainbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.btn1 {
    font-family: fantasy;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: #7d6000;
    margin-left: 2%;
    margin-top: 14px;
    --glow-color: #f7edbcc8;
    --glow-size: 12px;
    padding: 10px 10px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(90deg, #f9e6b2, #ffefcb);
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 var(--glow-size) rgba(125, 116, 71, 0.888);
    transition: transform 200ms ease, box-shadow 200ms ease;
}
.btn1:hover {
    transform: translateX(-10px);
    box-shadow: 4px 5px 8px rgba(35, 30, 11, 0.849);
}
.img1 {
    width: 40%;
    display: block;
    margin-top: -55px;
    margin-left: 30%;
    margin-right: 60%;
}
.team-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 50px;
    margin: 50px auto;
}
.leader, .mem {
    text-align: center;
}
.photo {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 40%;
    box-shadow: 4px 5px 8px rgb(89, 80, 58);
    transition: .3s;
}
.photo:hover {
    box-shadow: 4px 5px 8px #c1a966;
}
.name {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: #36280bfe;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
    line-height: 1.3;
}
.name span {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: #36280bfe;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
    line-height: 1.3;
}
.bar ul {
    list-style-type: none;
    background-color:#786c4b;
    padding: 0px;
    margin-left: 20%;
    margin-right: 35%;
    margin-bottom: 20px;
    overflow: hidden;
}
.bar a {
    color: rgb(255, 229, 195);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.bar a:hover {
    color:#ffdb7f;;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.bar li {
    float: left;
}
.container {
    width: 150%;
    height: 100%;
    background-color: #786c4b;
    display: flex;
}
form {
    background-color: #786c4b;
    width: 440px;
    height: 58px;
    margin-left: 30%;
    margin-top: -77.5px;
    display: flex;
}
form input {
    flex: 1;
    border: 1px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 231, 199);
}
form button {
    background-color: #5f460aa8;
    padding: 10px 20px;
    border: 2px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 240, 220);
    color: rgb(255, 242, 224);
    letter-spacing: 1px;
    cursor: pointer;
}
form button:hover {
    background-color: #5f460aa8;
    padding: 10px 20px;
    border: 2px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 240, 220);
    color: rgb(255, 242, 184);
    letter-spacing: 1px;
    cursor: pointer;
}
h1 {
    font-family: fantasy;
    font-size: 100px;
    color: rgba(255, 212, 103, 0.518);
    margin-top: -40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h1:hover {
    font-family: fantasy;
    font-size: 98px;
    color: #241b07fe;
    text-align: center;
    text-transform: uppercase;
    text-decoration-color: #060500;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 21px;
    color: #36280bfe;
    margin-top: -40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: overline underline;
    text-decoration-color: #fff9da;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
h3 {
    font-family: fantasy;
    font-size: 56px;
    color: rgba(142, 94, 6, 0.68);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h4 {
    font-family: fantasy;
    font-size: 65px;
    color:rgba(255, 212, 103, 0.518);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 28px;
    margin-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
.logo {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    margin: 50px auto;
    margin-top: -2px;
    margin-bottom: -5px;
}
.lo {
    width: 20%;
    height: 20%;
    object-fit: cover;
}   
.intro {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    color: #36280bfe;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3.5%;
    text-align: justify;
    text-indent: 30px;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
.info {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
    color: #36280bfe;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 3%;
    text-align: justify;
    text-indent: 30px;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
.research {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: #36280bfe;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    text-align: center;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
.pdf {
    width: 90%;
    height: 350px;
    margin-top: -2%;
    margin-left: 50px;
    margin-right: 30px;
    border: #786c4b;
    border-radius: 50px;
    box-shadow: 4px 5px 10px rgb(65, 52, 35);
}
.pdf:hover {
    width: 90%;
    height: 350px;
    margin-top: -2%;
    margin-left: 50px;
    margin-right: 30px;
    border: #786c4b;
    border-radius: 50px;
    box-shadow: 4px 5px 10px rgb(112, 93, 37);
}