body {
    background-color: beige;
    background-image: url("productbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.btn1 {
    font-family: fantasy;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: #7d6000;
    margin-left: 2%;
    margin-top: 14px;
    --glow-color: #f7edbcc8;
    --glow-size: 12px;
    padding: 10px 10px;
    border-radius: 14px;
    border: none;
    background: linear-gradient(90deg, #f9e6b2, #ffefcb);
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 var(--glow-size) rgba(125, 116, 71, 0.888);
    transition: transform 200ms ease, box-shadow 200ms ease;
}
.btn1:hover {
    transform: translateX(-10px);
    box-shadow: 4px 5px 8px rgba(35, 30, 11, 0.849);
}
h1 {
    font-family: fantasy;
    font-size: 75px;
    color: rgba(201, 146, 8, 0.562); 
    margin-top: -45px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h1:hover {
    font-family: fantasy;
    font-size: 75px;
    color: rgba(255, 203, 71, 0.543); 
    margin-top: -45px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    color: #36280bfe;
    margin-top: -40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: overline underline;
    text-decoration-color: #fff4c0a3;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
h3 {
    font-family: fantasy;
    font-size: 60px;
    color: rgba(181, 135, 70, 0.534);
    letter-spacing: 1px;
    margin-left: 30px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h4 {
    font-family: fantasy;
    font-size: 60px;
    color: rgba(255, 203, 71, 0.543); 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: 1%;
    text-align: right;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h5 {
    font-family: fantasy;
    font-size: 60px;
    color: rgba(0, 125, 147, 0.447); 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: 2%;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
h5:hover {
    font-family: fantasy;
    font-size: 60px;
    color: rgba(0, 140, 147, 0.562); 
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -10px;
    margin-bottom: 2%;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 6px rgb(0, 0, 0);
}
.img1 {
    width: 40%;
    display: block;
    margin-top: -45px;
    margin-left: 30%;
    margin-right: 60%;
}
.img2 {
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-right: 40%;
    margin-bottom: 2%;
    border-radius: 5%;
    box-shadow: 5px 7px 6px 6px rgba(49, 45, 37, 0.728);
}
.img2:hover {
    width: 60%;
    height: 50%;
    margin-left: 20%;
    margin-right: 40%;
    margin-bottom: 2%;
    border-radius: 5%;
    box-shadow: 5px 7px 6px 6px #a8d3fb71;
}
.product-container {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 50px;
    margin: 50px auto;
}
.product1, .product2 {
    text-align: center;
}
.photo {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.name {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: #36280bfe;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
    line-height: 1.3;
}
.name span {
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16px;
    color: #36280bfe;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
    line-height: 1.3;
}
.bar ul {
    list-style-type: none;
    background-color:#786c4b;
    padding: 0px;
    margin-left: 20%;
    margin-right: 35%;
    margin-bottom: 20px;
    overflow: hidden;
}
.bar a {
    color: rgb(255, 229, 195);
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.bar a:hover {
    color:#ffdb7f;;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.bar li {
    float: left;
}
.container {
    width: 150%;
    height: 100%;
    background-color: #786c4b;
    display: flex;
}
form {
    background-color: #786c4b;
    width: 440px;
    height: 58px;
    margin-left: 30%;
    margin-top: -77.5px;
    display: flex;
}
form input {
    flex: 1;
    border: 1px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 231, 199);
}
form button {
    background-color: #5f460aa8;
    padding: 10px 20px;
    border: 2px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 240, 220);
    color: rgb(255, 242, 224);
    letter-spacing: 1px;
    cursor: pointer;
}
form button:hover {
    background-color: #5f460aa8;
    padding: 10px 20px;
    border: 2px solid rgb(255, 240, 221);
    outline: 1px solid rgb(255, 240, 220);
    color: rgb(255, 242, 184);
    letter-spacing: 1px;
    cursor: pointer;
}
.info {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 21px;
    color: #36280bfe;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
    text-indent: 22px;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
.list {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 21px;
    color: #36280bfe;
    line-height: 38px;
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 3%;
    margin-bottom: 4%;
    text-align: justify;
    text-shadow: 4px 4px 12px rgb(92, 79, 62);
}
.des {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    color: #36280bfe;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    text-align: center;
    text-shadow: 5px 8px 12px rgb(43, 36, 28);
}
